.git
.github
.idea
.vscode
.zed
.cursor
.codex
.nova
.junie
.agents
.ai
.gemini
.claude
.mcp.json

node_modules
vendor
public/build
public/hot
public/storage

storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs
storage/pail

database/database.sqlite

.env
.env.*
!.env.example

.phpunit.cache
.phpunit.result.cache
.DS_Store
Thumbs.db

docker-compose.yml
Dockerfile
.dockerignore